/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange -
    blue - #1fabe5
    dark blue - #046c97
*/

* {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
   margin: 0;


}
.site-wrapper{

  background-image:url("img/bg.jpg");
  width:100%;
background-size: contain;
background-repeat: repeat;
font-family: Helvetica, Arial, sans-serif;
line-height: 1.6;
display: flex;
justify-content: center;
margin: auto;
flex-direction: column;
}

#page_content{
  width: 80%;
  margin: auto;
padding: 20px;
box-shadow: 5px 10px 10%;

}


header {
  background-color:  #ff8523;
  padding: 5px;

}

nav{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-right: auto 30px;
  align-self: : flex-start;
}

}
nav a{
  color:white;
  text-decoration: none;
  border: solid white 1px;
border-radius: 3px;
padding: 10px;
margin-left: 10PX;
flex-basis: 15%;
text-align: center;

}

h2, h3, section p a{
  color: #1fabe5;

}

ul li{
  font-weight: bold;

}

section{
  border-bottom: 3px solid #dddddd;
  padding-bottom: 30px;
}

table, thead, tr, td{
  border-collapse: collapse;
  padding: 5px;
}
thead tr td{
  border: 1px solid #046c97;
  background-color: #1fabe5;
  color:white;
}
tbody tr td{
  border: 1px solid #1fabe5;
}
td img{
  width:50px;
}

form{
  font-weight: bold;

  background-color: #dddddd;
  border-radius: 3px;
  padding:10px;
}
.name{
  background-color: #ff8523;
  border-radius: 3px;
  padding: 10px;
  color: white;

}

form div{
  margin-bottom: 20px;

}
textarea{
  width: 95%;
  border: 1px solid #1fabe5;
  padding: 10px;
}
#submit_button{
  background-color: #1fabe5;
  border: none;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
  padding: 10px 15px;
  font-weight: bold;

}
main{
  background-color: white;
  margin: 0;
  padding: 10px;
}
.main-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
